
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  .container {
    max-width: 100%px;
    background-color: rgb(245, 243, 243); 
  }
  
  h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 50px;
    margin-left: 27rem;
    color: #ea795d;
  }
  
  h2 {
    color: #c97f70;
    margin-left: 22rem;
    font-size: 15px;
  }
  
  h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    border: 1px solid #df6d66;
    background: #f8f1f1;
    border-radius: 5px;
    padding: 15px;
    margin-right: 9rem;
  }
  
  
  .section {
    color: #ea795d;
    margin-top: 0;
    padding: 0;
  }
  
  .section h3 {
    font-size: 18px;
    color: #9b2b1a;
    margin-left: 30rem;
    margin-right: 30rem;
    text-align: center;
    margin-top: 1rem;
  }
  
  .section ul {
    list-style: none;
    padding: 1rem;
    margin-left: 10rem;
  }
  
  .section li {
    cursor: pointer;
    padding: 4px 0;
    transition: all 0.3s ease-in-out;
  }
  
  p {
    color: black;
    margin-right: 9rem;
    border-bottom: 1px solid #df6d66;
    border-left: 1px solid #df6d66;
    border-right: 1px solid #df6d66;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1rem;
  }
  
  
  