/* .modal{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.064);
    display: none;
    justify-content: center;
    align-items: center;
} */

/* .modal.is-open{
    display: flex;

} */

/* .modal-container{
    position: relative;

}

.modal-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
} */

/* style.module.css */

.padre-modal {
    position: relative;
    overflow: hidden;
  }
  
  .modal {
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    color: azure;
  }
  
  .modal-open {
    overflow: hidden;
  }


  .modal-container {
    background-color: white;
    padding: 10px;
    /* Other styles for the modal content area */
  }
  
  .modal-close {
    /* Styles for the close button */
  }
  
 